@use "tailwind-colors" as *;

/* Variables */

$size-space-small: 0.4rem;
$size-space-normal: 0.8rem;
$size-corner: 0.2rem;
$size-border: 1.2pt;
$size-scrollbar: 0.8rem;
$size-input: 2.2rem;

.app[data-theme="dark"] {
  --bg: #{$tw-neutral-900};
  --fg: #{$tw-neutral-200};
  --fg-secondary: #{$tw-neutral-500};
  --accent: #{$tw-blue-500};
  --border: #{$tw-neutral-600};
  --scrollbar: #{$tw-neutral-600};
  --scrollbar-hover: #{$tw-neutral-500};
  // --pseudos-filter: invert(1);
  --elevated-bg: #{$tw-neutral-800};
  --elevated-bg-hover: #{$tw-neutral-700};
  --elevated-fg: #{$tw-neutral-200};
  --elevated-fg-secondary: #{$tw-neutral-400};
  --elevated-fg-placeholder: #{$tw-neutral-500};
  --button-bg: #{$tw-blue-500};
  --button-bg-hover: #{$tw-blue-600};
  --button-fg: white;
  --button-secondary-bg: #{$tw-neutral-700};
  --button-secondary-bg-hover: #{$tw-neutral-600};
  --button-secondary-fg: #{$tw-neutral-200};
}

.app[data-theme="light"] {
  --bg: #{$tw-neutral-100};
  --fg: #{$tw-neutral-950};
  --fg-secondary: #{$tw-neutral-500};
  --accent: #{$tw-blue-500};
  --border: #{$tw-neutral-300};
  --scrollbar: #{$tw-neutral-300};
  --scrollbar-hover: #{$tw-neutral-400};
  // --pseudos-filter: none;
  --elevated-bg: white;
  --elevated-bg-hover: #{$tw-neutral-100};
  --elevated-fg: #{$tw-neutral-950};
  --elevated-fg-secondary: #{$tw-neutral-600};
  --elevated-fg-placeholder: #{$tw-neutral-500};
  --button-bg: #{$tw-blue-500};
  --button-bg-hover: #{$tw-blue-400};
  --button-fg: white;
  --button-secondary-bg: #{$tw-neutral-300};
  --button-secondary-bg-hover: #{$tw-neutral-400};
  --button-secondary-fg: #{$tw-neutral-950};
}

$border: solid $size-border var(--border);
$border-accent: solid $size-border var(--accent);

/* Components */

@mixin inherit-typography {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-wrap: inherit;
}

@mixin button-base {
  border-radius: $size-corner;
  border: 0;
  padding: $size-space-small;
  cursor: pointer;
  user-select: none;
  height: $size-input;
  width: $size-input;

  &:focus {
    outline: none;
  }

  .icon {
    width: 100%;
    height: 100%;
  }
}

.button-primary {
  @include button-base;
  background: var(--button-bg);
  color: var(--button-fg);

  &:hover {
    background: var(--button-bg-hover);
  }

  &:focus {
    outline: $border-accent;
  }

  .icon {
    fill: var(--button-fg, #fff);
  }
}

.button-secondary {
  @include button-base;
  background: var(--button-secondary-bg);
  color: var(--button-secondary-fg);

  &:hover {
    background: var(--button-secondary-bg-hover);
  }

  &:focus {
    outline: $border-accent;
  }

  .icon {
    fill: var(--button-secondary-fg);
  }
}

.button-transparent {
  @include button-base;
  background: transparent;

  &:hover {
    opacity: 80%;
  }
}

/* App */

:root,
#root,
body {
  font-size: 9pt;
  line-height: 1.35;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.app {
  color: var(--fg);
  background-color: var(--bg);
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  // Scroll bar
  // https://stackoverflow.com/a/67902128
  // https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
  scrollbar-color: var(--scrollbar) transparent;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    background: transparent;
    width: $size-scrollbar;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 50em;
    // webkit scrollbar padding https://stackoverflow.com/a/59436086
    background-clip: content-box;
    border: solid calc($size-scrollbar / 6) transparent;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
    background-clip: content-box;
    border: solid calc($size-scrollbar / 6) transparent;
  }

  * {
    box-sizing: border-box;
  }

  .header {
    padding: $size-space-small;

    .title {
      font-size: larger;
      margin: $size-space-small 0;
      user-select: none;
    }

    .toolbar {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: $size-space-small;

      input,
      button {
        padding: $size-space-small;
        @include inherit-typography;
      }

      input {
        background-color: var(--elevated-bg);
        height: $size-input;

        &::placeholder {
          color: var(--elevated-fg-placeholder);
        }
      }

      .search {
        flex: 1;
        min-width: 0;
        border-radius: $size-corner;
        border: $border;
        cursor: text;

        &:focus {
          outline: $border-accent;
        }

        // https://stackoverflow.com/a/64267916
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          height: 1em;
          width: 1em;
          background: url("./images/icon-cancel16.svg") no-repeat 50% 50%;
          background-size: contain;
        }
      }
    }
  }

  .notes {
    flex: 1;
    height: 100%;
    padding: $size-space-small;
    padding-top: 0;
    overflow-x: hidden;

    .placeholder {
      user-select: none;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10%;
      font-size: larger;
      color: var(--fg-secondary);
    }

    .note-dnd-list {
      margin: 0;
      height: 100%;
      padding: 0;
      list-style: none;

      .note-dnd-item {
        padding: calc($size-space-small/2) 0;
        background: transparent;

        &.above {
          border-top: solid calc($size-border/2) var(--accent);
        }
        &.under {
          border-bottom: solid calc($size-border/2) var(--accent);
        }

        &:first-child.above {
          border-top: $border-accent;
        }
        &:last-child.under {
          border-bottom: $border-accent;
        }

        .note {
          @include inherit-typography;

          // border-radius: $size-corner;
          // background: var(--elevated-bg);
          position: relative;
          user-select: none;
          cursor: pointer;
          display: block;
          width: 100%;
          appearance: none;
          padding: 0;
          border: 0;
          background: none;
          font-size: inherit;
          border-radius: $size-corner;

          &:focus {
            outline: $border-accent;
          }

          /* &:hover {
          opacity: 70%;
        } */

          .note-topbar {
            display: flex;
            flex-direction: row;
            position: absolute;
            width: fit-content;
            right: $size-space-small;
            top: $size-space-small;
            opacity: 0;

            button {
              height: $size-input;
              width: $size-input;

              .icon {
                width: 100%;
                height: 100%;
                fill: var(--elevated-fg);
              }
            }
          }

          &:hover .note-topbar {
            opacity: 1;
          }

          .text-display,
          .text-editor {
            border-radius: $size-corner;

            background: var(--elevated-bg);
            border: $border;

            @include inherit-typography;

            width: 100%;
            min-height: 8.5em;
            padding: $size-space-normal;
            margin: 0;
          }

          .text-display {
            overflow: hidden;
            user-select: none;
            height: 8.5em;
            cursor: inherit;
            color: var(--elevated-fg-secondary);

            &.empty {
              color: var(--elevated-fg-placeholder);
            }

            &:hover {
              background: var(--elevated-bg-hover);
            }
          }

          .text-editor {
            color: var(--elevated-fg);
            // height: 40em;
            // height: calc(100vh - $size-input - $size-space-small * 5);
            // height: min(40em, calc(100vh - $size-input - $size-space-small * 5));
            font-size: 10pt;
            user-select: all;
            resize: none;
            overflow: hidden;
            cursor: text;

            // &:focus {
            &:has(.cm-focused) {
              outline: $border-accent;
            }

            &::placeholder {
              color: var(--elevated-fg-placeholder);
            }

            &::-webkit-resizer {
              appearance: none;
              background: url("./images/icon-expand16.svg") no-repeat 50% 50%;
              background-size: contain;
              background-color: inherit;
            }

            .cm-scroller * {
              cursor: text;
            }

            .cm-content {
              min-height: 8.5em;
            }
          }
        }
      }
    }
  }
}
